{
	"extends": ["eslint-config-synacor", "plugin:flowtype/recommended"],
	"plugins": ["flowtype"],
	"rules": {
		"eqeqeq": [0, "smart"],
		"semi": [0, "error"],
		"react/no-danger": "off",
		"react/sort-comp": [
			2,
			{
				"order": [
					"static-methods",
					"state",
					"/^_.+$/",
					"type-annotations",
					"constructor",
					"lifecycle",
					"everything-else",
					"render"
				]
			}
		]
	}
}
