{
  "extends": "eslint-config-synacor",
  "plugins": ["plugin:flowtype/recommended"],
  "rules": {
    "semi": [0, "error"],
    "react/sort-comp": [
      2,
      {
        "order": [
          "static-methods",
          "state",
          "/^_.+$/",
          "type-annotations",
          "constructor",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ]
  }
}
