.shortcutList {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}

@media (min-width: 40rem) {
  .shortcutList {
    padding: 0 2rem !important;
  }
}

.shortcutItem {
  min-height: 56px;
}

.shortcutItem:nth-child(odd) {
  background: rgba(0, 0, 0, 0.02);
}

.shortcutTitle {
  flex-basis: 67%;
}

.shortcut {
  flex-basis: 33%;
}

.textCenterVertical {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.noMargin {
  margin: 0 !important;
}
