.shortcutSection {

}

.shortcutSection ul {
  margin-bottom: 4rem;
}

.shortcutSectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.shortcutSectionHeader h5 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0;
}

.shortcutSectionHeader h5::first-letter {
  text-transform: uppercase;
}

.shortcutSectionHeader img {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
}
