.header {
  /* padding-top: 6em; */
}

.titleWrapper {
  text-align: center;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 1rem;
}

.header h1 em {
  font-style: normal;
  color: #adb5bd;
}

.header h5 {
}

.header nav {
  height: 56px;
  margin-bottom: 2em;
}
