.header {
  margin: 4rem 0;
}

.titleWrapper {

}

.header h1 {
  font-size: 3.25vw;
  margin-bottom: 0.5rem;
}

.header h1 em {
  font-style: normal;
  color: #adb5bd;
}

@media (max-width: 80.0rem) {
  .header h1 {
    font-size: 3rem;
  }
}
