.applicationsWrapper {

}

.applicationsWrapper h5 {
  font-weight: 500;
}

.applicationList {
  flex-wrap: wrap;
}

.application {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #DDD;
  background-color: #fff;
}

.application img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}
