.applicationsWrapper {

}

.applicationsWrapper h5 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #DDD;
}

.applicationList {
  flex-wrap: wrap;
}

.application {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.application img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}
